@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*
{
  font-family: 'Source Sans Pro', sans-serif;
}
.notice
{
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 30vh;
  /* background: #f00; */
}